<!DOCTYPE html>
<!-- <html itemtype="http://schema.org/WebPage" itemscope="" manifest="/manifest.appcache"> -->
<html itemtype="http://schema.org/WebPage" itemscope="" lang="{{ default.language }}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="Cache-Control" content="max-age=31622400,public">

	<!-- Prefetch -->
	<meta http-equiv="x-dns-prefetch-control" content="on">
	<link rel="dns-prefetch" href="{{ default.prefetch }}">

	<!-- Preload -->
	<link rel="preload" href="{{ script }}" as="script">

	<!-- Indexing -->
	{{!--
	<meta name="google">
	<meta name="googlebot">
	<meta name="robots" content="NOODP,NOYDIR">
	--}}

	<!-- Description -->
	<meta name="author" content="{{ default.author }}">
	<meta name="keywords" content="{{ default.keywords }}">
	<meta name="description" content="{{ default.description }}">
	<meta itemprop="name" content="{{ title }}">
	<meta itemprop="description" content="{{ default.description }}">
	<meta itemprop="image" content="{{ default.image }}">

	<!-- Canonical -->
	<link rel="canonical" href="{{ canonical }}">

	<!-- Opengraph -->

	<meta property="og:title" content="{{ title }}">
	<meta property="og:site_name" content="{{ default.sitename }}">
	<meta property="og:url" content="{{ canonical }}">
	<meta property="og:image" content="{{ default.image }}">
	<meta property="og:description" content="{{ default.description }}">
	<meta property="og:type" content="{{ default.sitetype }}">
	<meta property="og:locale" content="{{ default.locale }}">
	<meta property="og:locale:alternate" content="{{ default.alternate_locale }}">

	<!-- Facebook -->
	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="{{ default.sitename }}" />
	<meta name="twitter:title" content="{{ title }}" />
	<meta name="twitter:description" content="{{ description }}" />
	<meta name="twitter:image" content="{{ default.image }}" />

	<!-- Icons -->
	<link rel="icon" href="{{ default.icon }}.ico" sizes="16x16 32x32 48x48 64x64" type="image/x-icon">
	{{!--
	<link rel="icon" href="{{ default.icon }}.png" sizes="32x32" type="image/png"> --}}
	{{!--
	<link rel="icon" href="{{ default.icon }}" sizes="any" type="image/svg+xml"> --}}

	<!-- Apple -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon-precomposed" href="{{ icon_apple }}">
	<link rel="apple-touch-startup-image" href="{{ icon_apple_startup }}">

	<!-- Title -->
	<title>{{ title }}</title>

	<!-- Viewport -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ stylesheet }}">

	<!-- Scripts -->

	<!-- Polyfills -->

</head>

<body lang="{{ default.locale }}" dir="ltr">

	<div class="page-wrapper">
		{{> navigation }}

		{% body %}
	</div>

	<script src="{{ script }}" defer></script>
</body>

</html>